:root{
    --white:#fff;
    --black:#1c2b2d;
    --blue:#31326f;
    --light-blue:#005490;
    --color-primary:#9d0191;
    --color-sec:#db6400;
    --grey:#eee;
    --dark-grey:#222831;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:10px;
}
body{
    background-color: var(--light-blue);
}
h1{
    display: flex;
    justify-content: center;
    background-color:var(--color-primary);
    color: white;
    width: 50%;
    margin:40px auto;
    padding: 40px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
}
#count-down{
    background-color: var(--color-sec);
    font-size: 20px;
    color: var(--white);
    padding: 10px;
}
.quiz-header{
    display: flex;
    justify-content: space-between;
}
#footer{
    color: var(--white);
    font-size: 20px;
    margin: 20px;
    text-align: center;
}
#progress{
    color: var(--white);
    font-size: 20px;
    margin: 10px;

}
#question{
    color: var(--white);
    font-size: 30px;
    text-align: center;
}
.btn{
   /*  display: flex;
    justify-content: center; */
    display: block;
    width:50%;
    height: 30px;
    padding: 20px;
    margin:20px auto;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}